*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 50%;
    width: 50%;
    object-fit: cover;
}
/* Header Section*/
#header{
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto; 
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24)
}
.header .navbar ul{
    display: flex;
    list-style: none;
}

/* End Header Section*/
/* Top Section */
#top{
   background-image: url(./assets/images/mainbg.jpg);
   background-size: cover;
   background-position: center;
   position: relative;

}
#top h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    text-align: center;
   
}
#top h2{
    display: block;
    width: fit-content;
    font-size: medium;
    position: relative;
    margin-top: 30px;
    color: white;
    flex-direction: row;
    
}
#top .cta{
    display: inline-block;
    padding: 10px 60px;
    margin-top: 30px;
    color:  black;
    background-color: orange;
    
}
/* End Top Section */

/* Games Section */
#games{
    background-image: url(./assets/images/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#games h1{
    display: block;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    color: white;

}

#games h2{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
/* End Games Section*/

/* Features Section*/
#features{
    background-image: url(./assets/images/features.jpg);
    background-size: cover;
    background-position: center;
}

#features h1{
    display: block;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    color: white;
}

#features h2{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
    margin-bottom: 30px;
}

#features h3{
    display: block;
    width: fit-content;
    font-size: 1rem;
    color: orange;
}

#features p{
    display: block;
    width: fit-content;
    font-size: small;
    color: white;
}

#features h4{
    display: block;
    width: fit-content;
    font-size: 1rem;
    color: orange;
    margin-top: 30px;
}

#features h5{
    display: block;
    width: fit-content;
    font-size: 1rem;
    color: orange;
    margin: 30px;
}

/* End Feature Section */'

/* System Section */
#system{
    background-image: url(./assets/images/requirements.png);
    background-size: cover;
    background-position: center;
}
/* End System Section */